<div id="app">
  <nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
        <a href="#" class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">MealPlanning</a>
      </div>
    </div>

    <div class="lg:flex flex-grow items-center bg-white lg:bg-opacity-0 lg:shadow-none hidden">
      <ul class="flex flex-col lg:flex-row list-none ml-auto" routerLinkActive="active">
        <li class="flex items-center">
          <a href="/home" class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" routerLink="home">Home</a>
        </li>
        <li class="flex items-center">
          <a href="/user" class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" *ngIf="isLoggedIn()" routerLink="user">User</a>
        </li>
      </ul>

      <ul class="flex flex-col lg:flex-row list-none" *ngIf="!isLoggedIn()">
        <li class="flex items-center">
          <a href="/login" class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" routerLink="login">Login</a>
        </li>
      </ul>

      <ul class="flex flex-col lg:flex-row list-none" *ngIf="isLoggedIn()">
        <li class="flex items-center">
          <a href="/profile" class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" routerLink="profile">{{ username }}</a>
        </li>
        <li class="flex items-center">
          <a href class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="relative w-full h-full py-40 min-h-screen">
    <router-outlet></router-outlet>
  </div>
</div>
